
@{
    ViewData["Title"] = "SetMassage";
}

<h1>Set Massage</h1>
<form  action="SetMassage" method="post">
    <label for="massageText">Massage:</label><br>
    <input name="massageText" type="text"  id="massageText"><br>
    <label for="userName">User Name:</label><br>
    <input name="userName" type="text" id="userName" ><br><br>
    <input type="submit" value="Submit">
</form>

